.template-agencia {
  background-image: url(/wp-content/themes/santacc/dist/images/fondo_web.jpg);
  background-attachment: fixed;

  .main {
    margin: 8% 0 7%;

    .contManifiesto {
      position: relative;
      width: 100%;
      max-width: 900px;
      margin: 0 auto;

      .imgManifiesto {
        position: absolute;
        width: 100%;
      }
    }
  }
}

@media (min-width: 1980px) {
  .template-agencia {
    background-size: cover;
  }
}

