.template-contacto {
  .main {
    margin-top: 8%;

    .container {
      background-color: white;
      padding: 3%;
    }
  }

  .logoCompuesto {
    text-align: center;

    @keyframes movLogoAro {
      0% {
        top: 0;
      }

      25% {
        top: 5px;
      }

      75% {
        top: -5px;
      }

      100% {
        top: 0;
      }
    }

    .aroLogo {
      text-align: center;

      img {
        position: relative;
        animation: movLogoAro 10s infinite;
      }
    }

    .textoLogo {
      margin-bottom: 5%;
    }
  }

  .gform_wrapper {
    ul {
      li.hidden_label {
        input {
          margin-top: 0;
        }
      }

      li.gfield {
        margin-top: 0;

        textarea {
          border: solid 1px $primary;
        }

        input {
          border: solid 1px $primary;
        }
      }

      li.gf_right_half {
        padding-right: 0 !important;
      }

      li.gf_left_half {
        padding-right: 7px !important;
      }

      li#field_1_4 {
        padding-right: 0 !important;
      }
    }

    .gform_footer {
      text-align: right;
      padding: 0;
      margin: 0;

      input[type=submit] {
        border: solid 1px $primary;
        background-color: #fff;
        padding: 4px 25px;
        margin: 0;
      }
    }
  }
}

