.template-forbussines {
  .banner {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(256, 256, 256, 0.5);

    nav {
      ul {
        justify-content: space-between;

        li {
          font-size: 1.1rem;
          margin: 0 2%;
          font-family: "truenoultralight", sans-serif;
          text-transform: uppercase;
          letter-spacing: 3px;
          border-bottom: 2px solid transparent;

          a {
            color: black;
            text-decoration: none;
          }

          &:hover {
            border-bottom: 2px solid transparent;
          }

          &.active {
            border-bottom: 2px solid $primary;
          }
        }
      }
    }
  }

  .especialHome {
    max-width: 650px !important;
  }

  .botonesHome {
    position: absolute;
    left: 1%;

    .btnSeleccion {
      font-size: 2.5rem;
      font-weight: bold;
      display: block;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        font-size: 2.7rem;
      }
    }
  }

  .itemTrabajo {
    position: relative;
    height: 487px;
    overflow: hidden;
    padding: 0;
    background-color: black;

    .rollOver {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      z-index: 9999;
    }

    .imagenItemTrabajo {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 99;
      object-fit: cover;
      opacity: 0.6;
    }

    .rollOverTrabajo {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 9;
      object-fit: cover;
    }

    .capaTrabajo {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 4%;
      z-index: 999;

      h2 {
        color: #fff;
        font-size: 1.3rem;
      }

      .descTrabajo {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.1rem;
      }

      .logoCampana {
        display: table-cell;
        text-align: center;
        width: 30%;
        vertical-align: middle;

        .imagenLogo {
          width: 150px;
        }
      }
    }

    .capaTrabajoGrande {
      position: absolute;
      left: 20%;
      width: 25%;
      height: 100%;
      padding: 1%;
      z-index: 999;
      background-color: white;

      h2 {
        color: #000;
        font-size: 1.3rem;
      }

      .descTrabajo {
        text-transform: uppercase;
        color: #000;
        font-size: 1.1rem;
      }

      .logoCampana {
        display: table-cell;
        text-align: center;
        width: 30%;
        vertical-align: middle;

        .imagenLogo {
          width: 150px;
        }
      }
    }

    .capaTrabajoMedio {
      position: absolute;
      left: 50%;
      width: 50%;
      height: 100%;
      padding: 1%;
      z-index: 999;
      background-color: white;

      h2 {
        color: #000;
        font-size: 1.3rem;
      }

      .descTrabajo {
        text-transform: uppercase;
        color: #000;
        font-size: 1.1rem;
      }

      .logoCampana {
        display: table-cell;
        text-align: center;
        width: 30%;
        vertical-align: middle;

        .imagenLogo {
          width: 150px;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .itemTrabajo {
      .capaTrabajo {
        .textoTrabajo {
          h2 {
            font-size: 2.2rem;
          }

          .descTrabajo {
            font-size: 1.5rem;
          }
        }

        .logoCampana {
          .imagenLogo {
            width: 100px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .especialHome {
      width: 95%;
    }

    .itemTrabajo {
      .capaTrabajo {
        .textoTrabajo {
          h2 {
            font-size: 1.6rem;
          }

          .descTrabajo {
            font-size: 1.1rem;
          }
        }

        .logoCampana {
          .imagenLogo {
            width: 75px;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .especialHome {
      width: 90%;
    }

    .itemTrabajo {
      height: 300px;

      .capaTrabajo {
        .textoTrabajo {
          .capaTexto {
            h2 {
              font-size: 0.9rem;
            }

            .descTrabajo {
              font-size: 0.7rem;
            }
          }

          .logoCampana {
            .imagenLogo {
              width: 60px;
            }
          }
        }
      }
    }
  }
}
