.home {
  background-image: url(/wp-content/themes/santacc/dist/images/fondo_web.jpg);
  background-attachment: fixed;

  .banner {
    margin-bottom: 2%;
  }

  .botonesHome {
    position: absolute;
    left: 1%;

    .btnSeleccion {
      font-size: 2.5rem;
      font-weight: bold;
      display: block;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        font-size: 2.7rem;
      }
    }
  }

  .itemTrabajo {
    position: relative;
    height: 407px;
    overflow: hidden;
    padding: 0;
    background-color: rgba(255, 246, 0, 0.8);

    .rollOver {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      z-index: 9999;
    }

    .imagenItemTrabajo {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 99;
      object-fit: cover;
    }

    .rollOverTrabajo {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 9;
      object-fit: cover;
    }

    .capaTrabajo {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      z-index: 999;
      opacity: 0;

      .textoTrabajo {
        display: table;
        position: relative;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        padding: 1% 6%;
        text-align: center;

        .capaTexto {
          display: table-cell;
          width: 70%;
          vertical-align: middle;
          padding-right: 30px;
          color: #fff;

          h2 {
            font-size: 1.3rem;
          }

          .descTrabajo {
            text-transform: uppercase;
            font-size: 1.1rem;
          }
        }

        .logoCampana {
          display: table-cell;
          text-align: center;
          width: 30%;
          vertical-align: middle;

          .imagenLogo {
            width: 150px;
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    .itemTrabajo {
      .capaTrabajo {
        .textoTrabajo {
          h2 {
            font-size: 2.2rem;
          }

          .descTrabajo {
            font-size: 1.5rem;
          }
        }

        .logoCampana {
          .imagenLogo {
            width: 100px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .especialHome {
      width: 95%;
    }

    .itemTrabajo {
      .capaTrabajo {
        .textoTrabajo {
          h2 {
            font-size: 1.6rem;
          }

          .descTrabajo {
            font-size: 1.1rem;
          }
        }

        .logoCampana {
          .imagenLogo {
            width: 75px;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .especialHome {
      width: 90%;
    }

    .itemTrabajo {
      height: 300px;

      .capaTrabajo {
        .textoTrabajo {
          .capaTexto {
            h2 {
              font-size: 0.9rem;
            }

            .descTrabajo {
              font-size: 0.7rem;
            }
          }

          .logoCampana {
            .imagenLogo {
              width: 60px;
            }
          }
        }
      }
    }
  }
}
