.banner {
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 999;

  .hamburger {
    position: fixed;
    right: 2%;
  }
}

.moverWrap {
  margin-right: 50%;
}

.menuMovil {
  display: none;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  background-color: rgba(183, 181, 181, 1);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;

  ul.nav {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      font-size: 1.6rem;

      a {
        color: black;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.verMovil {
  display: flex;
}
