.single-trabajo {
  .main {
    .mainbody {
      background-color: white;
      padding: 3%;
      max-width: 1001px;
      margin: 0 auto;
    }
  }

  #relative-caption::after {
    content: "";
    display: block;
    clear: both;
  }

  .card {
    text-decoration: none;
    background-color: transparent;

    .card-body {
      background-color: $primary;
      color: #fff;

      h5.card-title {
        font-size: 1rem;
        font-family: "truenolight", sans-serif;
      }

      p.card-text {
        font-size: 0.9rem;
        line-height: 1.1;
      }
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .playImg {
      position: relative;
    }
  }

  .contenedorClippin,
  .contenedorClippin2 {
    text-align: center;
    padding: 12% 12% 9% 12%;
    border: solid 1px #000;

    .conjuntoLink {
      display: block;
      margin-bottom: 5%;

      .titClipping {
        text-transform: uppercase;
        line-height: 1.2;
        font-family: "truenobold", sans-serif;
        font-size: 1.2rem;
        margin-bottom: 0;
      }

      .descClipping {
        font-size: 0.8rem;
        //font-family: "sf_movie_poster_condensedRg", sans-serif;
        //text-transform: uppercase;
        //letter-spacing: 1px;
        line-height: 1.1;
      }
    }
  }

  .contenedorClippin2 {
    display: none;
  }

  .contenedorClippin {
    display: block;
  }
}

.lg-outer {
  .lg-thumb-outer {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
}

.card-columns {
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }

  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
}

.carousel-indicators {
  position: relative;
  background-color: #404041;
  margin: 0;
  padding: 15px 0 5px;

  li {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 50%;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #fff;
    opacity: 0.5;
    -webkit-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
  }
}
