.template-equipo {
  .contEquipo {
    position: relative;

    .capaTxtTranparente {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      opacity: 0;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      .nombreEquipo {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        clear: both;
        width: 100%;
        text-align: center;
        color: #fff;
        font-family: "truenobold", sans-serif;
        font-size: 1.6rem;
        line-height: 1.2;
      }

      .puestoEquipo {
        display: block;
        clear: both;
        width: 100%;
        text-align: center;
        color: #fff;
      }
    }
  }
}
