body {
  overflow-x: hidden;
  color: $primary;
  background-image: url(/wp-content/themes/santacc/dist/images/fondo_web.jpg);
  background-attachment: fixed;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-family: "truenobold", sans-serif;
  text-transform: uppercase;
}

.page-header {
  h1 {
    text-align: center;
    margin: 1% 0;
  }
}

h2 {
  font-family: "truenobold", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1001px !important;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1001px !important;
  }
}

#CybotCookiebotDialog {
  opacity: 0 !important;
}

#CybotCookiebotDialog.showing {
  opacity: 1 !important;
}

#CybotCookiebotDialogBodyButtonAccept {
  display: none !important;
}

.btnSantaCookieBot {
  background-color: #d4251b;
  border: 1px solid #d4251b;
  color: #fff !important;
  padding: 6px !important;
  text-decoration: none !important;
  border-radius: 4px;
}

#CybotCookiebotDialogDetail {
  height: 280px;
}

#CookiebotNuevoBtnAllSelect {
  margin-left: 6px !important;
}

@media (max-width: 767.98px) {
  #CookiebotNuevoBtnAllSelect {
    margin-left: 0 !important;
    font-size: 12px;
    width: 160px !important;
  }
}

#CookiebotNuevoBtnGuardar {
  margin-left: 6px !important;
  width: 150px !important;
}

#CybotCookiebotDialogBody {
  max-width: 1100px !important;
}

#CybotCookiebotDialogDetailBody {
  max-width: 1100px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  padding-top: 10px;
}

#CybotCookiebotDialogDetailBodyContent {
  border-bottom: 2px solid #ccc !important;
  height: 190px !important;
  margin: 0 7px;
}

#CybotCookiebotDialogDetailBodyContentTabs {
  padding: 0 7px;
}
